<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/stylesheets/style.css" type="text/css" />
	<title>Aquarium4Noobs</title>
	<script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>

	<header>
    <h1>Aquariums4Noobs</h1>
    <nav>
        <ul class="menu">
            <li class="item"><a href="/login">Login</a></li>
            <li class="item"><a href="/signup">Signup</a></li>
            <li class="item"><a href="/members">Members</a></li>
            <li class="item has-submenu">
                <a tabindex="0">Explore Fish</a>
                <ul class="submenu">
                    <li class="submitem"><a href="#">All Fish</a></li>
                    <li class="submitem"><a href="#">Angelfish</a></li>
                    <li class="submitem"><a href="#">Rainbowfish</a></li>
                    <li class="submitem"><a href="#">Tetra</a></li>
                </ul>
            </li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>
    </header>

	{{{ body }}}
	<script src="/assets/js/app.js"></script>
</body>

</html>