/* Form */

body {
  background: rgb(129, 250, 250);
  background: radial-gradient(
    circle,
    rgba(129, 250, 250, 1) 0%,
    rgba(24, 73, 163, 1) 100%
  );
}

form {
  text-align: center;
  width: 75%;
  background-image: url("../images/water.jpg");
  background-size: cover;
  background-color: aqua;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 5px solid black;
  color: white;
}

#form-div {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.btn {
  margin-top: 5px;
  padding: 3px;
  border-radius: 8px;
}

.btn {
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #7affff 5%, #689dd1 100%);
  background-color: #7affff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.btn:hover {
  background: linear-gradient(to bottom, #689dd1 5%, #7affff 100%);
  background-color: #689dd1;
}
.btn :active {
  position: relative;
  top: 1px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#fish {
  width: 300px;
  position: relative;
  animation: swim 5s infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@keyframes swim {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

span {
  display: flex;
  align-items: center;
}

/***********************************************************************************/
/* General Styles */
/***********************************************************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

/***********************************************************************************/
/* NavBar */
/***********************************************************************************/

nav {
  /* background: #222; */
  display: flex;
  /* align-items: center; */
  padding: 0, 15px;
}

p {
  float: left;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.menu,
.submenu {
  list-style-type: none;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  padding: 10px;
}

.active .item {
  display: block;
}

.item a:hover,
.item a:hover::after {
  color: #ccc;
}

/***********************************************************************************/
/* Mobile Menu */
/***********************************************************************************/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

/***********************************************************************************/
/* Submenu */
/***********************************************************************************/
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.container {
  display: flex;
}

h1 {
  color: white;
  text-align: center;
  font-size: clamp(1rem, -0.5rem + 6.6667vw, 3.5rem);
}

header {
  padding-bottom: 50px;
  padding-left: 10px;
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/fishtank.jpg");
  background-color: aquamarine;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
